.btn-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.btn-feedback {
  background-color: white;
  border: 1px solid skyblue;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
}
